body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-size: 16px;
	background-image: linear-gradient(to bottom,#dddbd1,#d2dbdc);
}

body::after {
  position: fixed;
  z-index: -1;
  background-color: #fff68d;
  width: 100%;
  height: 127px;
  content: '';
  top: 0;
  left: 0;
}

ul {
	list-style-type: none;
}

#contentWrapper {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

#chatWrapper {
	border: 1px solid #efefef;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
	text-align: center;
	background: #efefef;
	height: 50%;
	width: 50%;
	min-height: 20em;
	margin: auto;
	position: relative;
}

@media screen and (min-width: 800px) {
	#chatWrapper {
	    width: 800px;
	    height: calc(100% - 150px);
	    margin: 0 auto;
	    top: 19px;
	}
}

@media screen and (max-width: 799px) {
	#chatWrapper {
		width: 100%;
    height: calc(100% - 150px);
    margin: 0 auto;
    top: 19px;
	}
}

#chatBox {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 80%;
	text-align: left;
	padding: 10px;
  font-family: 'Helvetica Neue';
  font-size: 0.875000em;
  display: block;
}

#chatbox ul, #title {
	color: #6d6d6d;
}

#messageBox {
	position: absolute;
	bottom: 0;
	left:0;
	right: 0;
	padding: 4px;
	color: black;
	border-top: 1px solid #d4dbda;
}

#messageInput {
	font-size: 13.6px;
	height: 3em;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #fefefe;
  background: #fefefe;
  padding: 1em;
}

#titleWrapper {
	width: 100%;
	text-align: left;
}

#title {
	font-family: 'Comic Sans Ms';
	padding: 5px 5px 5px 20px !important;
	margin: 0;
	font-weight: 600;
}

#logo {
	height: 30px;
	display: inline-block;
}

#logoWrapper{
	padding-bottom: 20px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.msg {
	padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 12px;
  position: relative;
}

.bubble {
	padding: 6px 7px 8px 9px;
}

.bubble-text .message-meta {
  bottom: 3px;
  right: 7px;
}

.message-meta {
    position: absolute;
    bottom: -5px;
    right: 0;
    font-size: 11px;
    color: rgba(0,0,0,.45);
    line-height: 15px;
    height: 15px;
}

.message {
}

.message-sender {
  font-family: 'Open Sans', sans-serif;
  font-size: 12.5px;
  line-height: 20px;
  height: 20px;
  font-weight: 600;
  margin-bottom: 1px;
  color: #74cff8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message-content {
	position: relative;
	font-size: 13.6px;
  line-height: 19px;
  font-family: 'Open Sans',sans-serif;
  word-wrap: break-word;
  color: #262626;
}

.message-content::after {
    content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    display: inline;
}

.message-timestamp {
  vertical-align: top;
  margin-top: 1px;
  display: inline-block;
}

.message-in:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADGUExURQAAAP////b29vn5+f///wAAAP///wAAAAAAAP///9ra2v////j4+PHx8fv7++Hh4fHx8f////////////////39/QAAAP////////z8/P////39/f39/fz8/P////////////z8/P////////////z8/P////////////v7+/Hx8f///9bW1vz8/K2trf////39/f39/WJiYgAAAExMTFtbWwAAAN3d3cjIyPr6+vX19QAAAO7u7vz8/NTU1Ofn5zMzM////zGPlXsAAABBdFJOUwAcm/kREh4CCDWL1SneR6TfAQffhMYK/A5nRrLWfRc5DW2ih5f+19Kn+9v4g/1LCJuXHwQUKgahcXS6DNnlDMMKKzPoTgAAAKBJREFUKM+V08USwmAQA+C/0NIWd3d3d8/7vxTMcIPkQK7f7CG7s8bQAOY/SCuwFYQU1P+eiCqIK2gpWCmoCrAgoKQgJ8CHgIqAMjg0MxxSQ3DogEMWFBZtUPAHYGB1CyDQWE6AH7BrfXzlAxGAQhECTGAmwN1Okz0Gb/LW4fEItIfrOfNELMh3tck7u+PhcT2zQ7l77/K8iY8yJwV3BeYFqpc/uSyPGdAAAAAASUVORK5CYII=);
}

.tail.message-in:before {
  content: '';
  position: absolute;
  left: -11px;
  bottom: 3px;
  width: 12px;
  height: 19px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.message-in {
  background-color: #fff;
  float: left;
}

.message-out {
	background-color: #dcf8c6;
	float: right;
}

.tail.message-out:before {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.message-out::before {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAD2UExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGRsXAAAANzwzNPmxNrtyau5oIWRedDkwNntyczgwdfpyJ+/n97wzsLWtNjsytvwzczfvtPmxau6nNjqxtrtyio1KtzwzNjryAAAANzwzgAAANzwzK7Aor/Us9Lnw8vevAAAAMzevtbpxrvMrX+IdwAAAEROOi45Lr3MrZGjf9LoxX+MctnqydLkwhgYGMzfv9vuyQAAANzwzNvuy9zxy7vMu7XGqNvtzKKykwAAANruzKq6nLnMriQkGMXXuL3PsNjsySgzKAAAANLkw83fvd3vy9z4xtzwzRpFmIEAAABQdFJOUwAXChEGBAMBAgwhDvJ7k0YqMc0Zmwj6apf2kjU0+dkw/swh/CP9j2Wr2gndvaYeBRoxQg6gUPt/FaHJGdTj9A9k7XQLeE6iFcN12xkSt9r4NKizowAAAMFJREFUKM+V0sdywlAMBVDbMX7PQCihQ+iQ0HsJvfem/P/PwBIzugu0PXNnNNJVyPmhsIPhhoB2COwIGuLdhAcl3AhCBoBoHUC6BCBbA0C/EkBFB5D/FjxQwQYg1RI8UKINgDoSAPUlAPqUAMgfAEBfXsEDBV0+Hogi4Zhg4THj9YwHoqEBYOrgYTI3GVgMNn8r+Qq94k9yZNosW/3Hy9VuTjWfHkOX6367bGZUU7de66ieHZrO1OGg8Z1WTgYAFLgD5S1PCkzo1B0AAAAASUVORK5CYII=);
}

.tail.message-out:before {
    right: -11px;
}

.message-in, .message-out {
    border-radius: 7.5px;
    position: relative;
    box-shadow: 0 1px .5px rgba(0,0,0,.13);
}

.msg:after {
    content: '';
    display: table;
    clear: both;
}

*::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2)
}

*::-webkit-scrollbar-track {
    background: rgba(255,255,255,.08)
}

@media screen and (max-width : 667px) {
	body {
		margin: 0;
		padding: 0;
		zoom: 1.1;
	}

	#contentWrapper {
		margin-top: 53px;
		overflow:hidden;
	}

	#chatWrapper {
		width: 100%;
		height: 100%;
		transform: initial;
		position: fixed;
		left: 0;
		top: 53px;
		overflow-y: scroll;
	}

	#chatBox {
		position: fixed;
    left: 0;
    right: 0;
    top: 53px;
    bottom: 30px;
    height: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
	}

	#titleWrapper {
		position: fixed;
		left: 0;
		top: 0;
		padding: 10px;
	}
	#logoWrapper {
		visibility: hidden;
	}

	#messageBox {
		width: 100%;
		padding: 0;
		position: fixed;
		height: initial;
		border: 0;
		box-shadow: none;
	}

	#messageForm, #messageInput {
		width: inherit;
		height: inherit;
		max-width: initial;
	}
	#messageInput {
		padding: 10px;
		border-radius:initial;
	}
	#messageForm {
    box-sizing: border-box;
	}
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}