<div id="welcome-wrapper">
  <div id="welcome-content">
    <div id="welcome-title">
      <h1>Welcome to <span class="light-blue">DaveChat</span></h1>
    </div>
    <div id="welcome-message">
      <p>Please enter your name.</p>
    </div>
    <div class="input-group">
      <input id="nicknameInput" name="nickname" type="text" placeholder="e.g. SmarterChild" ng-model="vm.loginData.nickname" />
      <div class="btn btn-xs btn-default" ng-click="vm.login()">Fire 'er up</div>
    </div>
  </div>
</div>